@media (min-width: 1599px) and (max-width: 1700px) {
    .booking_room {
        width: 100%;
        position: absolute;
        top: 6.2em;
        left: 82%;
        z-index: 1;
    }
    .reservation {
        padding: 13px 0px;
        float: left;
        width: 114%;
        background: rgba(79, 92, 40, 0.8);
    }
    .book_now input[type="submit"] {
        width: 43% !important;
        background: #324008;
        color: #FFF;
        padding: 7px;
        border: none;
        border-radius: 0px;
        font-size: 13px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 7% 0% 0% -21%;
    }
    iframe[name="myIframe"] {
        width: 781px;
        height: 475px;
    }
    .home360 {
        float: left;
        margin-right: 0px;
        border: 5px solid #A28553;
        padding: 2px;
        height: 474px;
        width: 791px;
    }
    #bttm_bottom {
        float: left;
        height: 475px;
        width: 1232px;
        position: relative;
        background-image: url('assets/img/banner_back.jpg');
        background-repeat: repeat;
        background-position: 5%;
    }
}
@media (min-width: 1367px) and (max-width: 1600px) {
    .booking_room {
        width: 100%;
        position: absolute;
        top: 4.2em;
        left: 59%;
        z-index: 1;
    }
    .reservation {
        padding: 13px 0px;
        float: left;
        width: 120%;
        background: rgba(79, 92, 40, 0.8);
    }
    .book_now input[type="submit"] {
        width: 43% !important;
        background: #324008;
        color: #FFF;
        padding: 7px;
        border: none;
        border-radius: 0px;
        font-size: 13px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 7% 0% 0% -21%;
    }

}
@media screen and (max-width: 1366px) {
    .logo a {
        margin-left: 32px;
        margin-top: 4px;
        width: 220px;
        height: 145px;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 3.9em;
        left: 46%;
        z-index: 1;
    }

    .reservation {
        padding: 13px 0px;
        float: left;
        width: 124%;
        background:rgba(79, 92, 40, 0.8);
    }

    #promo {
        width: 56%;
        color: #858585;
        padding: 6px;
        border: 1px solid #DFDFDF;
        font-size: 10px;
        letter-spacing: 0px;
        margin: 5px 0px 0px 18px;
    }
    .reservation h5 {
        font-size: 13px;
        color: #75883B;
        text-transform: capitalize;
        margin-bottom: 8px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    .reservation select {
        font-size: 13px;
    }
    .book_now input[type="submit"] {
        width: 50% !important;
        background: #324008;
        color: #FFF;
        padding: 6px;
        border: none;
        border-radius: 0px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 2.5% 0% 0% -24%;
    }
    .nav-footer li{margin-left: 15px;}
    .footer-social-media {
        text-align: right;
        -webkit-transform: translate(-20px);
        transform: translate(-100px);
        margin-top: -60px;
        font-size: 25px;
    }
    .nav-footer {
        text-align: left;
        margin-left: 100px;
    }
    #route {
        padding: 20px;
        font-size: 10pt;
        color: #484848;
        margin-left: 17.7%;
    }
}

@media screen and (max-width:768px) {
    #header {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.2);
        position: relative;
        z-index: 1;
        height: 60px;
    }
    .ddd{display:none;}
    .accordion {
        position: relative;
        display:block !important;
    }

    .reservation ul li.span1_of_1 {
        width: 22%;
        margin-left: 1em;
    }
    .b_room {
        display: inline-flex;
        box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -webkit-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -moz-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -o-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        width: 96%;
        position: absolute;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 26.5em;
        left: 4%;
        z-index: 1;
    }
    .reservation {
        padding: 13px 0px;
        float: left;
        width: 96%;
        background: rgba(79, 92, 40, 0.8) none repeat scroll 0% 0%;

    }
    #promo {
        width: 70%;
        color: #858585;
        padding: 9px;
        border: 1px solid #DFDFDF;
        font-size: 14px;
        letter-spacing: 0px;
        margin: 10px 0px 0px 19px;
    }
    .book_now input[type="submit"] {
        width: 20.5% !important;
        background: #324008;
        color: #FFF;
        padding: 10px;
        border: medium none;
        border-radius: 0px;
        font-size: 15px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 10px 0px 0px -27px;
    }
    .book_date input[type="text"] {
        width: 100% !important;
        color: #858585;
        font-size: 14px;
        padding: 9px 30px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin-bottom: 7px;
        margin-top: 10px;
    }

    .reservation h5 {
        font-size: 20px;
        color: #75883B;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 100%;
        color: #858585;
        font-size: 15px;
        padding: 7px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 9px;
    }

    .slidepanel-text{display:none}

    .nav-primary ul {
        display: none;
    }

    .nav-primary li:hover > ul {
        display: block;
    }

    .nav-primary ul:after {
        content: ""; clear: both; display: block;
    }
    .nav-primary ul li {
        display: inline;
        padding: 0px 15px;		
        max-width: 200px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        font-size: 16px;
        color: #7C2C2B;
    }
    .nav-primary ul li a {
        display: block;
        color: #1F1F1F; 
        text-decoration: none;
        margin-bottom: -20px;
    }

    .nav-primary ul {
        background: #FFF;
        padding: 0;
        position: absolute;
        border: none;
    }

    nav#nav-primary-wrapper ul ul li {
        float: none; 
        position: relative;
    }

    .nav-primary ul li a:hover {
        color: #0077C1;
    }
    .nav-primary li a {
        font-size: 18px;
        padding: 0 8px;
        color:#3D461C;
    }
    .nav-primary li a:focus {
        color: #999
    }

    .nav-primary {
        display: none;
        height: auto;
        padding: 80px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    #scroll-down{display:none !important;}
    .logo a {
        margin-left: 11px;
        margin-top: 4px;
        width: 200px;
        height: 130px;
    }
    .logo_bg{box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.2);}
    .copyright {
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        font-size: 0.571em;
        color: #fff;
        display: block;
        text-align: -webkit-center;
        padding: 0px 0px 0px 0;
        background: #333;
    }
    .footer-social-media {
        text-align: -webkit-center;
        -webkit-transform: translate(0px); 
        transform: translate(0px); 
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 32px;
    }
    .accordionTitle, .accordion__Heading{font-size:16px !important;}
    form .form-text, form textarea, form .form-textarea-wrapper{width:100%;}
    #contact_box {
        float: left;
        margin: auto;
        margin-top: 24%;
        position: relative;
        left: -12%;
    }
    .qr_main {
        float: right;
        height: 55px;
        width: 222px;
        margin-right: 140px;
    }
    .logo_main {
        float: right;
        width: 82px;
        height: 45px;
        margin: auto;
        margin-top: -41px;
        margin-right: 34%;
        position: relative;
    }
    .quick_nav {
        background-color: #fff;
        width: auto;
        height: 45px;
        position: relative;
        margin-top: 40px;
        z-index: -1;
    }
    .search .input {
        float: right;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.47);
        border: none;
        color: rgba(0, 0, 0, 0.75);
        font-family: 'pt_sansregular', Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding: 9px;
        margin-top: 12px;
        margin-right: auto;
        position: relative;
    }
    .search .submit {
        width: 188%;
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 0px;
        position: absolute;
        margin-top: 21px;
    }
    .nav-footer li:hover:after{border-bottom:none}
    .nav-footer {
        text-align: left;
        margin-left: 0px;
    }
    .nav-footer li{margin-left:0px;}
    table {
        margin: auto;
        font-size: 14px;
        margin-top: 3%;
        width: 80%;
        border: none;
    }
    #route {
        padding: 20px;
        font-size: 10pt;
        color: #484848;
        margin-left: 7.7%;
    }
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 5px !important;
        width: 1.8em;
        height: 1.8em;
    }
}

@media screen and (max-width:420px) {
    #header {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.2);
        position: relative;
        z-index: 1;
        height: 60px;
    }
    .accordion {
        position: relative;
        display:block !important;
    }
    .nav-primary {
        display: none;
        height: auto;
        padding: 5px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .nav-primary li a {
        font-size: 14px;
        padding: 0 8px;
        color: #3D461C;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 26.5em;
        left: 4%;
        z-index: 1;
    }
    .reservation ul li.span1_of_1 {
        width: 27%;
        margin-left: 3.7%;
        margin-right: 16.3%;
    }
    .reservation h5 {
        font-size: 16px;
        color: #75883B;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 119%;
        color: #858585;
        font-size: 8px;
        padding: 6px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 7px;
    }
    .book_date input[type="text"] {
        width: 165% !important;
        color: #858585;
        font-size: 8px;
        padding: 8px 20px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin: 0px 0px 5px 0px;
    }
    .nationality {
        font-size: 10px;
        color: #FFF;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
    }
    #promo {
        width: 111%;
        color: #858585;
        padding: 7px;
        border: 1px solid #DFDFDF;
        font-size: 9px;
        letter-spacing: 0px;
        margin: 5px 0px 6px 14px;
    }
    .book_now input[type="submit"] {
        width: 43% !important;
        background: #324008 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 7px;
        border: medium none;
        border-radius: 0px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 1% 0% 0% 10%;
    }
    .logo a {
        width: 95px;
        height: 62px;
        margin-top: -2px;
        box-shadow: none;
    }
    .logo_bg{box-shadow: none;}
    #scroll-down{display:none !important;}
    .accordionTitle, .accordion__Heading{font-size:13px !important;}
    .search .input {
        padding: 8px;
    }
    .search .submit {
        width: 174%;
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0px;
        position: absolute;
        margin-top: 22px;
    }
    .qr_main {
        float: right;
        height: auto;
        width: auto;
        margin-right: 140px;
    }
    #contact_box {
        float: left;
        margin: auto;
        margin-top: 50%;
        position: relative;
        left: 0;
    }
    .add_firs {
        position: relative;
        font-size: 15px;
        top: 120px;
        left: 0px;
        float: left;
    }
    .equal-height{height:auto}
    #nt-example1 li{font-size:16px}
    ul.accom-list{width:100%}
    .ctatext-text li{width:90%;}
    .footer-social-media {
        text-align: -webkit-center;
        -webkit-transform: translate(0px);
        transform: translate(0px);
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 20px;
    }
    .highlight-content .hdr-four {
        margin-bottom: 14px;
        padding-top: 0px;
        text-align: center;
        font-size: 0.7em;
        line-height: 1.3em;
    }
    .nav-footer li:hover:after{border-bottom:none}
    .nav-footer {
        text-align: left;
        margin-left: 0px;
    }
    .nav-footer li{margin-left:0px;}
    figure.effect-chico h2 {
        padding: 10% 0 0px 0;
    }
    .grid figure h2 {
        font-weight: 300;
        font-family: 'Raleway', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
    }
    figure.effect-chico figcaption {
        padding: 2em;
        background-color: rgba(51,66,79,0.33);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
    }
    .grid figure p {
        letter-spacing: 1px;
        font-size: 55%;
    }
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 7%;
        min-width: 320px;
        max-width: 525px;
        max-height: 350px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    #route {
        padding: 20px;
        font-size: 10pt;
        color: #484848;
        margin-left: 4.7%;
    }
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 5px !important;
        width: 1.8em;
        height: 1.8em;
    }

}

@media screen and (max-width:320px) {
    .accordion {
        position: relative;
        display:block !important;
    }

    .nav-primary {
        display: none;
        height: auto;
        padding: 5px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .nav-primary li a {
        font-size: 14px;
        padding: 0 8px;
        color: #3D461C;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 15.5em;
        left: 4%;
        z-index: 1;
    }
    .reservation ul li.span1_of_1 {
        width: 27%;
        margin-left: 3.8%;
        margin-right: 17.2%;
    }
    .reservation h5 {
        font-size: 16px;
        color: #75883B;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 119%;
        color: #858585;
        font-size: 8px;
        padding: 6px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 7px;
    }
    .book_date input[type="text"] {
        width: 165% !important;
        color: #858585;
        font-size: 8px;
        padding: 8px 20px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin: 0px 0px 5px 0px;
    }
    .nationality {
        font-size: 10px;
        color: #FFF;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
    }
    #promo {
        width: 89%;
        color: #858585;
        padding: 7px;
        border: 1px solid #DFDFDF;
        font-size: 9px;
        letter-spacing: 0px;
        margin: 7px 0px 6px 12px;
    }
    .book_now input[type="submit"] {
        width: 42.5% !important;
        background: #324008 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 7px;
        border: medium none;
        border-radius: 0px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 2% 0% 0% 2%;
    }
    .logo a {
        width: 95px;
        height: 60px;
        margin-top: -2px;
        box-shadow: none;
    }
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 0%;
        min-width: 320px;
        max-width: 525px;
        max-height: 350px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
}