/*@font-face {

    font-family: 'lane_-_narrowregular';

    src: url('LANENAR_-webfont.eot');

    src: url('LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),

         url('LANENAR_-webfont.woff') format('woff'),

         url('LANENAR_-webfont.ttf') format('truetype'),

         url('LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');

    font-weight: normal;

    font-style: normal;



}*/



@font-face {

    font-family: 'edwardian_script_itcregular';

    src: url('itcedscr_0-webfont.eot');

    src: url('itcedscr_0-webfont.eot?#iefix') format('embedded-opentype'),

         url('itcedscr_0-webfont.woff') format('woff'),

         url('itcedscr_0-webfont.ttf') format('truetype'),

         url('itcedscr_0-webfont.svg#edwardian_script_itcregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {
    font-family: 'web_serveroffregular';
    src: url('Web_Serveroff-webfont.eot');
    src: url('Web_Serveroff-webfont.eot?#iefix') format('embedded-opentype'),
         url('Web_Serveroff-webfont.woff') format('woff'),
         url('Web_Serveroff-webfont.ttf') format('truetype'),
         url('Web_Serveroff-webfont.svg#web_serveroffregular') format('svg');
    font-weight: normal;
    font-style: normal;

}