<style type="text/css">
.pop_main {
	height: 300px;
	width: 800px;
	background-color: #FFEAAA;
	background-image: url(assets/img/back.jpg);
	background-repeat: repeat;
}
body {
	margin: 0px;
	padding: 0px;
}
.qr {
	float: left;
	height: 270px;
	width: 250px;
	margin-top: 9px;
	margin-left: 25px;
	background-image: url(assets/img/qr_back.png);
	background-repeat: no-repeat;
}
.qr_2 {
	height: 192px;
	width: 192px;
	margin-top: 40px;
	margin-left: 30px;
}
.map {
	float: left;
	height: 270px;
	width: 475px;
	margin-top: 9px;
	margin-left: 25px;
	background-image: url(assets/img/pop_contact_back.png);
	background-repeat: no-repeat;
}
.logo {
	float: left;
	height: 134px;
	width: 227px;
	margin-top: 70px;
	margin-left: 20px;
	background-image: url(assets/img/logo.png);
	background-repeat: no-repeat;
}
.cnt {
	float: right;
	height: 150px;
	width: 200px;
	margin-top: 70px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	color: #445108;
	font-weight: normal;
}
</style>
</head>

<body>
<div class="pop_main">
	<div class="qr">
   	  <div class="qr_2"><img src="assets/img/contactus.png" width="192" height="192"></div>
    </div>
    
  <div class="map">
  	<div class="logo"></div>
    <div class="cnt">
    	85/2,<br>
Upper Lake Road, <br>
Nuwera Eliya, <br>
Sri Lanka<br>
<br>
Telephone	: 052-2222-387
<br>
E-mail : info@firs.lk </div>
  </div>
</div>
</body>

