html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
html {
    line-height: 1;
	overflow-x:hidden;
}
ol,ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,blockquote {
    quotes: none
}
q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}
* {
    box-sizing: border-box
}
body {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #484848;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    background-color: #fff
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl {
    margin-bottom: 10px
}
img {
    display: block;
    width: 100%;
    height: auto
}


h1,
.hdr-one {
    font-size: 1.778em;
    line-height: 0.875em;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    text-transform: uppercase
}
@media (min-width: 600px) {
    h1,
    .hdr-one {
        font-size: 2.714em;
        line-height: 0.897em;
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}
h2,.hdr-two {
    font-size: 1.778em;
    line-height: 1em;
    text-transform: capitalize;
    font-family: "ITC Legacy Serif W01", "Georgia", serif;
}
@media (min-width: 600px) {
    h2,.hdr-two {
        font-size: 2.286em;
        line-height: 0.896em
    }
	h2,.twoo{
		font-size: 1.5em;
		line-height: 1em;
		text-transform: capitalize;
		font-family: "ITC Legacy Serif W01", "Georgia", serif;
	}
}
h3,.hdr-three {
    font-size: 1.722em;
    line-height: 0.903em;
    text-transform: capitalize
}
@media (min-width: 600px) {
    h3,
    .hdr-three {
        font-size: 1.714em;
        line-height: 0.889em
    }
}
h4,.hdr-four {
    font-size: 0.833em;
    line-height: 1.533em;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    text-align: right;
}
@media (min-width: 600px) {
    h4,.hdr-four {
        font-size: 0.857em;
        line-height: 1.5em
    }
}
h5,.hdr-five {
    font-size: 0.833em;
    line-height: 1.533em;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    background-color: #ebebeb;
    padding: 5px 20px;
    letter-spacing: 0.04em
}
@media (min-width: 600px) {
    h5,
    .hdr-five {
        font-size: 0.857em;
        line-height: 1.5em
    }
}
h6,
.hdr-six {
    font-size: 0.944em;
    line-height: 1.533em;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase
}
@media (min-width: 600px) {
    h6,
    .hdr-six {
        font-size: 0.810em;
        line-height: 1.529em
    }
}
.hdr-seven {
    font-size: 0.833em;
    line-height: 1.533em;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    color: #7C2C2B;
    letter-spacing: 0.06em
}
@media (min-width: 600px) {
    .hdr-seven {
        font-size: 0.857em;
        line-height: 1.5em
    }
}
i,em,dfn {
    font-style: italic
}
b,strong {
    font-weight: 700
}
small {
    font-size: 80%
}
hr {
    clear: both;
    border: none;
    border-top: 1px solid rgba(51, 51, 51, 0.25);
    height: 0;
    margin: 20px 0;
    padding: 0
}
a:hover,*:focus {
    outline: 0
}
a {
    transition: ease-in-out 0.2s;
    color: #7C2C2B;
    text-decoration: none
}
a:visited {
    color: #D38F55
}
a:hover,a:focus,a:active {
    color: #999
}
button {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-weight: 700;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #7C2C2B;
    padding: 10px 13.33333px;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-font-smoothing: antialiased !important
}
button:after {
    border-style: solid;
    border-width: 4px 0 4px 8.7px;
    border-color: transparent transparent transparent #fff;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: 9px;
    width: 0
}
@media (min-width: 600px) {
    button:after {
        border-width: 5px 0 5px 8.7px;
        margin-left: 10px
    }
}
button:hover,button:focus,button:active {
    transition: ease-in-out 0.2s;
    cursor: pointer;
    background: #055C92;
    border: 1px solid #238ED0
}
.btn {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-weight: 700;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #7C2C2B;
    padding: 10px 13.33333px;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block
}
.btn:hover,.btn:focus,.btn:active {
    transition: ease-in-out 0.2s;
    cursor: pointer;
    background: #055C92;
    border: 1px solid #238ED0
}
li>ul,li>ol {
    margin-bottom: 0
}
dl {
    padding: 0
}
cite {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-weight: 700;
    text-transform: capitalize
}
blockquote {
    font-size: 1.722em;
    line-height: 0.903em;
    font-family: "ITC Legacy Serif W01", "Georgia", serif;
    font-style: italic;
    line-height: 1
}
@media (min-width: 600px) {
    blockquote {
        font-size: 1.714em;
        line-height: 0.889em
    }
}
@media (min-width: 600px) {
    blockquote {
        line-height: 1
    }
}
blockquote p {
    margin-bottom: 0
}
blockquote p:before {
    content: "“"
}
blockquote p:after {
    content: "”"
}
blockquote cite {
    padding-top: 26px;
    display: block;
    font-size: 0.452em;
    line-height: 1
}
@media (min-width: 600px) {
    blockquote cite {
        font-size: 0.444em;
        line-height: 1
    }
}
q {
    quotes: "\201C""\201D""\2018""\2019"
}
abbr {
    border-bottom: 1px dotted
}
code,kbd,pre,samp {
    font-family: courier, monospace
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
pre {
    white-space: pre-wrap
}
table {
    width: 55%;
    border: none;
    margin-bottom: 25%;
    font-size: 1em
}
@media (min-width: 600px) {
    table {
		margin: auto;
        font-size: 14px;
        margin-top: 3%;
    }
}
table caption {
    text-transform: uppercase;
    margin-bottom: 14px
}
table th {
    padding: 10px;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.833em;
    line-height: 1em;
    letter-spacing: 0.04em;
    font-weight: 700;
    vertical-align: bottom;
    text-align: left;
    border-bottom: 3px solid #ebebeb;
    vertical-align: top
}
@media (min-width: 600px) {
    table th {
        font-size: 0.8591em
    }
}
/*table tr {
    border-bottom: 1px solid #ebebeb
}*/
table tr:first-child td {
    border-top: none
}
table td {
    padding: 0px
}
table td:first-child {
    text-transform: capitalize
}
.wrapper {
    width: 100%;
    margin: 0 auto
}
@media (max-width: 1350px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media (min-width: 1351px) {
    .wrapper {
        width: 1294px
    }
}
#header {
    background-color: #7D2C2C;
    position: relative;
    z-index: 1;
    height: 90px
}
@media (min-width: 960px) {
    #header {
        height: 90px;
        transition: top 0.5s ease
    }
}
@media (min-width: 960px) {
    .is-fixed #header {
        position: fixed;
        left: 0;
        right: 0;
        top: -175px;
        opacity: 0
    }
}
@media (min-width: 960px) {
    #header.is-sticky {
        height: 100px;
        top: 0px;
        opacity: 1;
        z-index: 2000
    }
}
@media (min-width: 1000px) {
    .main-content {
        width: 65.37867%;
        float: left;
        margin-right: 3.86399%
    }
}
@media (min-width: 1000px) {
    .sidebar {
        width: 30.75734%;
        float: right;
        margin-right: 0
    }
}
@media (max-width: 1350px) {
    #footer .wrapper {
        padding-left: 0;
        padding-right: 0
    }
}
#footer-info {
    background-color: #333
}
@media (min-width: 1400px) {
    #footer-info {
        padding-top: 20px;
        height: 104px
    }
}
.node--page_basic article,
.node--blog article,
.node--activities article,
.node--package article,
.node--treatment article,
.node-type-webform article,
.page-error-404 article,
.page-error-403 article {
    padding-top: 0px;
    padding-bottom: 20px
}
@media (min-width: 900px) {
    .node--page_basic article,
    .node--blog article,
    .node--activities article,
    .node--package article,
    .node--treatment article,
    .node-type-webform article,
    .page-error-404 article,
    .page-error-403 article {
        width: 80%;
        margin-left: 10%;
        padding-top: 0px;
        padding-bottom: 0px
    }
}
@media (min-width: 1200px) {
    .node--page_basic article,
    .node--blog article,
    .node--activities article,
    .node--package article,
    .node--treatment article,
    .node-type-webform article,
    .page-error-404 article,
    .page-error-403 article {
        width: 70%;
        margin-left: 15%
    }
}
.node--blog article {
    padding-bottom: 0
}
#node-23 article,
#node-66 article,
#node-67 article,
#node-57 article,
#node-68 article,
#node-74 article,
#node-75 article {
    width: 100%;
    margin-left: 0;
    padding-top: 0
}
#node-74 article {
    padding-bottom: 0
}
#node-74 .ctatext-wrapper {
    padding-bottom: 15px
}
#node-74 .ctatext-text {
    width: 90%
}
@media (min-width: 1200px) {
    #node-74 .ctatext-text {
        width: 70%
    }
}
@media (min-width: 1400px) {
    #node-74 .ctatext-text {
        width: 60%
    }
}
#node-84 article {
    padding-top: 0
}
#node-84 .ctatext-wrapper {
    padding-bottom: 65px
}
#node-23 .activities-list,
#node-66 .activities-list,
#node-67 .activities-list {
    margin-bottom: 30px
}
.disable-hover,
.disable-hover * {
    pointer-events: none !important
}
a.skiptomain{
	position:absolute;
	left:-1000px;
	width:1px;
	height:1px;
	text-align:left;
	overflow:hidden;
	padding:6px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition:top 1s ease-out,background 1s linear;
	transition:top 1s ease-out,background 1s linear;
	z-index:100
}
a.skiptomain:active,a.skiptomain:focus,a.skiptomain:hover{
	left:0;
	width:auto;
	height:auto;
	overflow:visible;
	background:#BF1722;
	outline:0;
	-webkit-transition:top .1s ease-in,background .5s linear;
	transition:top .1s ease-in,background .5s linear
}
.hide {
    display: none
}
.hide-visual {
    font-size: 10px;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both
}
img.lazy {
    display: none
}
.btn-attachment {
    margin-bottom: 20px;
    margin-right: 20px
}
.btn-attachment a {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #7C2C2B;
    padding: 10px 13.33333px;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block
}
.btn-attachment a:hover {
    cursor: pointer;
    background: #055C92;
    border: 1px solid #238ED0
}
.btn-attachment .file-icon {
    display: none
}
.text-editor {
    margin-bottom: 30px
}
@media (min-width: 600px) {
    .text-editor {
        margin-bottom: 60px
    }
}
.text-editor ul,
.text-editor ol,
.text-editor dd {
    margin-bottom: 20px;
    margin-left: 40px
}
.text-editor li>ul,
.text-editor li>ol {
    margin-bottom: 0
}
.text-editor ul li,
.text-editor li ul li,
.text-editor ol li,
.text-editor li ol li {
    list-style: disc
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.text-right {
    text-align: right
}
.text--white {
    color: #fff
}
a.btn {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #7C2C2B;
    padding: 10px 13.33333px;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block
}
a.btn-arrow {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #781F20;
    padding: 10px 13.33333px;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block
}
a.btn-arrow:after {
    border-style: solid;
    border-width: 4px 0 4px 8.7px;
    border-color: transparent transparent transparent #fff;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: 9px;
    width: 0
}
@media (min-width: 600px) {
    a.btn-arrow:after {
        border-width: 5px 0 5px 8.7px;
        margin-left: 10px
    }
}
a:hover.btn,
a:hover.btn-arrow,
a:focus.btn,
a:focus.btn-arrow {
    cursor: pointer;
    background: #781F20;
    border: 1px solid #D38F55;
}
a.btn-underline {
    font-size: 0.778em;
    line-height: 2em;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    color: #333
}
@media (min-width: 600px) {
    a.btn-underline {
        font-size: 0.762em;
        line-height: 2.5em
    }
}
a.btn-underline:after {
    display: block;
    margin: 3px auto 0;
    content: "";
    border-bottom: 1px solid #484848;
    text-align: center;
    width: 50px
}
a.btn-underline:hover {
    color: #7C2C2B;
    cursor: pointer
}
.btn-underline.btn-underline--big-white {
    font-size: 0.833em;
    line-height: 1.533em;
    color: #fff
}
@media (min-width: 600px) {
    .btn-underline.btn-underline--big-white {
        font-size: 0.857em;
        line-height: 1.5em
    }
}
.btn-underline.btn-underline--big-white:after {
    border-bottom: 1px solid #fff
}
.btn-underline.btn-underline--big-white:hover {
    color: #7C2C2B;
    cursor: pointer
}
.btn-underline.btn-underline--big-white:hover:after {
    border-bottom: 1px solid #7C2C2B
}
.double-button {
    clear: both;
    text-align: center;
    margin-bottom: 24px
}
.double-button a {
    margin: 0 16px 16px
}
.double-button.double-button-overline {
    border-top: 1px solid #ebebeb;
    margin-top: 40px;
    padding-top: 40px
}
.icon-star-wrapper {
    margin-bottom: 20px
}
#node-191 .icon-star-wrapper {
    display: none
}
.icon-star-white {
    background-image: url();
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px
}
.icon-star-gold {
    background-image: url();
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px
}
.icon-right-arrow {
    background: url() no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px;
    transition: ease-in-out 0.2s
}
.icon-right-arrow:hover,
.icon-right-arrow:focus {
    background: url() no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px
}
#slidepanel {
    color: #fff
}
#slidepanel .item {
    position: relative;
    display: table;
    width: 100%
}
@media (max-width: 767px) {
    #slidepanel h2.hdr-four,
    #slidepanel p {
        display: none
    }
    #slidepanel .hdr-one {
        font-size: 37px
    }
}
@media (max-width: 479px) {
    #slidepanel .hdr-one {
        font-size: 30px
    }
}
.slidepanel-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 20px
}
.slidepanel-text {
    margin-top:25%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 850px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    float: right;
}
.slidepanel-text .hdr-one {
    margin-bottom: 19px;
    text-align: -webkit-right;
    font-family: "ITC Legacy Serif W01", "Georgia", serif;
    font-size:45px;
}
.slidepanel-text p {
    max-width: 650px;
    text-align: -webkit-right;
}
@media (max-width: 1199px) {
    .slidepanel-text p {
        display: none
    }
}
.getting-here-home {
    display: none
}
@media (min-width: 1100px) {
    .getting-here-home {
        display: block
    }
}
@media (min-width: 1100px) {
    .getting-here-home .slidepanel-text {
        max-width: 500px;
        margin-left: 4%
    }
}
@media (min-width: 1300px) {
    .getting-here-home .slidepanel-text {
        max-width: 600px;
        margin-left: 10%
    }
}
.heropanelimage {
    overflow: hidden
}
.heropanelimage .inner-ratio {
    position: relative;
    padding-bottom: 33.33%;
    height: 0
}
.heropaneltext {
    background: #33424f;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 40px
}
@media (min-width: 1100px) {
    .heropaneltext .hdr-four,
    .heropaneltext h1,
    .heropaneltext p {
        width: 60%
    }
}
.ctatext-wrapper {
    clear: both;
    padding-top: 60px;
    padding-bottom: 35px
}
@media (min-width: 600px) {
    .ctatext-wrapper {
        padding-top: 20px;
        padding-bottom: 60px
    }
}
.ctatext-wrapper .hdr-two {
    margin-bottom: 20px;
    font-style: italic
}
.ctatext-buildadventure.ctatext-wrapper {
    background: #f2f2f2
}
.ctatext-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}
@media (min-width: 1200px) {
    .ctatext-text {
        width: 900px
    }
}
.highlight {
    position: relative;
    overflow: hidden;
    width: 100%
}
.highlight:before {
    content: "";
    display: block;
    padding-top: 66.66%
}
@media (min-width: 1000px) {
    .highlight-panels li {
        width: 50%;
        float: left
    }
}
@media (min-width: 1000px) {
    #node-6 .highlight-panels li:first-child,
    #node-56 .highlight-panels li:first-child {
        width: 100%
    }
    #node-6 .highlight-panels li:first-child:before,
    #node-56 .highlight-panels li:first-child:before {
        padding-top: 33.3333%
    }
}
@media (min-width: 1351px) {
    #node-6 .highlight-panels li:first-child p,
    #node-56 .highlight-panels li:first-child p {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%
    }
}
@media (min-width: 1000px) {
    #node-57 .highlight-panels li:first-child,
    #node-68 .highlight-panels li:first-child {
        width: 100%
    }
    #node-57 .highlight-panels li:first-child:before,
    #node-68 .highlight-panels li:first-child:before {
        padding-top: 50%
    }
}
@media (min-width: 1300px) {
    #node-57 .highlight-panels li:first-child,
    #node-68 .highlight-panels li:first-child {
        width: 100%
    }
    #node-57 .highlight-panels li:first-child:before,
    #node-68 .highlight-panels li:first-child:before {
        padding-top: 33.3333%
    }
}
.experience-thumblist.highlight-panels li:first-child:before {
    padding-top: 100%
}
.experience-thumblist.highlight-panels li:nth-child(n+2) {
    width: 50%;
    float: left
}
.experience-thumblist.highlight-panels li:nth-child(n+2):before {
    padding-top: 100%
}
@media (min-width: 1000px) {
    .experience-thumblist.highlight-panels li:first-child {
        width: 50%
    }
    .experience-thumblist.highlight-panels li:nth-child(n+2) {
        width: 25%
    }
}
.activities-list {
    overflow: hidden;
    margin-bottom: 90px
}
.activities-list.highlight-panels li:before {
    padding-top: 50%
}
.packagebyexperience-list {
    overflow: hidden
}
.packagebyexperience-list.highlight-panels li:nth-child(1):before {
    padding-top: 72.25%
}
@media (min-width: 1000px) {
    .packagebyexperience-list.highlight-panels li:nth-child(1) p {
        display: block
    }
}
@media (min-width: 700px) {
    .packagebyexperience-list.highlight-panels li:nth-child(2),
    .packagebyexperience-list.highlight-panels li:nth-child(3) {
        width: 50%;
        float: left
    }
    .packagebyexperience-list.highlight-panels li:nth-child(2):before,
    .packagebyexperience-list.highlight-panels li:nth-child(3):before {
        padding-top: 67.08%
    }
}
@media (min-width: 1000px) {
    .packagebyexperience-list.highlight-panels li:nth-child(1) {
        width: 65%
    }
    .packagebyexperience-list.highlight-panels li:nth-child(2),
    .packagebyexperience-list.highlight-panels li:nth-child(3) {
        width: 35%;
        float: none
    }
}
.bloglist-highlight {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: ease-in-out 0.2s;
    background: rgba(51, 66, 79, 0.6)
}
.bloglist-highlight:hover {
    background: rgba(51, 66, 79, 0.3)
}
.bloglist-content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0
}
.bloglist-text {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    text-align: center
}
.highlight-background-static {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 66, 79, 0.8)
}
a.highlight-hotspot {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.highlight-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background:  rgba(72, 9, 9, 0.8);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s
}
.highlight-content {
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s
}
@media (min-width: 1400px) {
    .highlight-content {
        padding-left: 20%;
        padding-right: 20%
    }
}
.highlight-content .hdr-four {
    margin-bottom: 14px;
    padding-top: 4px;
    text-align: center
}
.highlight-content .hdr-two {
    line-height: 1em;
    margin-bottom: 16px
}
.highlight-content p {
    display: none;
    font-size: 0.952em;
    line-height: 1.2em
}
@media (min-width: 700px) and (max-width: 999px) {
    .highlight-content p {
        display: block
    }
}
@media (min-width: 1351px) {
    .highlight-content p {
        display: block
    }
}
.highlight-content .fadeitem {
    opacity: 0;
    -webkit-transition: opacity 0.6s 0.4s;
    transition: opacity 0.6s 0.4s
}
.activities-list .highlight-content {
    padding-left: 5%;
    padding-right: 5%
}
@media (min-width: 500px) and (max-width: 1399px) {
    .activities-list .highlight-content {
        padding-left: 10%;
        padding-right: 10%
    }
}
@media (min-width: 1400px) {
    .activities-list .highlight-content {
        padding-left: 15%;
        padding-right: 15%
    }
}
.activities-list .highlight-content .hdr-four {
    font-size: 10px;
    padding-top: 7px
}
@media (min-width: 500px) and (max-width: 1099px) {
    .activities-list .highlight-content .hdr-four {
        font-size: 13px;
        padding-top: 5px
    }
}
@media (min-width: 700px) and (max-width: 999px) {
    .activities-list .highlight-content .hdr-four {
        font-size: 16px;
        padding-top: 3px
    }
}
@media (min-width: 1100px) and (max-width: 1199px) {
    .activities-list .highlight-content .hdr-four {
        font-size: 14px;
        padding-top: 4px
    }
}
@media (min-width: 1200px) {
    .activities-list .highlight-content .hdr-four {
        font-size: 16px;
        padding-top: 3px
    }
}
@media (max-width: 1099px) {
    .activities-list .highlight-content .hdr-two {
        font-size: 34px
    }
}
.packagebyexperience-list .highlight-content {
    padding-left: 5%;
    padding-right: 5%
}
@media (max-width: 479px) {
    .packagebyexperience-list .highlight-content .hdr-four {
        font-size: 11px
    }
}
@media (min-width: 480px) and (max-width: 1199px) {
    .packagebyexperience-list .highlight-content .hdr-four {
        font-size: 14px
    }
}
@media (max-width: 479px) {
    .packagebyexperience-list .highlight-content .hdr-two {
        display: none
    }
}
.highlight.active .highlight-content .fadeitem {
    opacity: 1
}
.highlight.active a.btn-arrow {
    background: #7C2C2B
}
.calloutvisual {
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    text-shadow: 0 1px 6px rgba(255, 255, 255, 0.5)
}
@media (max-width: 479px) {
    .calloutvisual {
        display: none
    }
}
.calloutvisual .text--white {
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5)
}
.calloutvisual .inner-ratio {
    position: relative;
    padding-bottom: 54.05%;
    height: 0
}
.calloutvisual-ratio-content {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0
}
@media (min-width: 1000px) {
    .calloutvisual-ratio-content {
        width: 70%;
        left: 15%
    }
}
@media (min-width: 1200px) {
    .calloutvisual-ratio-content {
        width: 50%;
        left: 25%
    }
}
.calloutvisual-ratio-content .hdr-two {
    margin-bottom: 23px;
    font-style: italic
}
.calloutvisual-ratio-content p {
    display: none
}
@media (min-width: 900px) {
    .calloutvisual-ratio-content p {
        display: block
    }
}
.offerinquiry-form {
    display: none
}
@media (min-width: 768px) {
    .offerinquiry-form {
        background: #ebebeb;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-right: 0;
        padding: 30px 45px
    }
    .offerinquiry-form form .form-text,
    .offerinquiry-form form .form-textarea,
    .offerinquiry-form form .form-textarea-wrapper {
        width: 100%
    }
}
.pager-wrapper {
    display: inline-block;
    text-align: center;
    margin: 65px auto 0;
    width: 100%
}
ul.pager li {
    margin-left: 0.5em
}
.pager-first,
.pager-previous,
.pager-next,
.pager-last {
    text-transform: uppercase;
    font-size: 75%;
    margin-top: 7px
}
.pager {
    display: inline-block;
    text-align: center
}
.pager li {
    float: left;
    display: block;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    margin-bottom: 10px
}
.pager li.pager-current,
.pager a {
    display: block;
    color: #33424f;
    border-radius: 2px;
    border: 1px solid #33424f;
    padding: 6px 14px;
    white-space: nowrap
}
.pager li.pager-current {
    background: #33424f;
    color: #fff
}
.pager a:hover {
    background: #33424f;
    color: #fff
}
.blog-prev-next {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    margin-top: 40px;
    border-top: 1px solid #ebebeb
}
a.btn-prevnext {
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.952em;
    color: #33424f;
    border-radius: 2px;
    border: 1px solid #33424f;
    padding: 6px 14px;
    white-space: nowrap
}
a:hover.btn-prevnext {
    background: #33424f;
    color: #fff
}
@media only screen and (max-width: 767px) {
    table.responsive-table thead,
    table.responsive-table tbody,
    table.responsive-table th,
    table.responsive-table td,
    table.responsive-table tr {
        display: block
    }
    table.responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    table.responsive-table tr {
        border: 1px solid #ccc
    }
    table.responsive-table tr:nth-of-type(odd) {
        background: #f9f9f9
    }
    table.responsive-table tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        border-top: none;
        position: relative;
        padding-left: 100px
    }
    table.responsive-table td:before {
        position: absolute;
        top: 14px;
        left: 10px;
        padding-right: 10px;
        white-space: nowrap
    }
    table.responsive-table tr td {
        padding-left: 37%;
        text-align: right
    }
    table.responsive-table td:nth-of-type(1):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(2):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(3):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(4):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(5):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(6):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
    table.responsive-table td:nth-of-type(7):before {
        content: attr(data-heading);
        font-weight: bold;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px
    }
}
.logo a {
    width: 150px;
    height: 83px;
    background: url(../img/logo_ra.png) no-repeat 0 0 #fff;
    background-size: cover;
    display: block;
    text-indent: -999em;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -15px;
    margin-left: 16px
}
.logo_main {
    float: right;
    width: 80px;
    height: 45px;
    margin-top: 85px;
    margin-right: 6%;
    z-index: 1;
}
@media (min-width: 960px) {
    .logo a {
        width: 179px;
        height: 176px
    }
}
@media (min-width: 1351px) {
    .logo a {
        margin-left: -4px;
        margin-top: 4px;
        width: 244px;
        height: 158px;
		z-index:1;
    }
}
.no-svg .logo a {
    background: url(../img/logo_ra.png) no-repeat 0 0
}
#nav-primary-wrapper {
    position: relative
}
@media (min-width: 960px) {
    #nav-primary-wrapper {
        width: 100%;
        margin: 0 auto
    }
}
@media (min-width: 960px) and (max-width: 1350px) {
    #nav-primary-wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media (min-width: 960px) and (min-width: 1351px) {
    #nav-primary-wrapper {
        width: 1294px
    }
}
@media (max-width: 959px) {
    #nav-primary-wrapper {
        background: rgba(255, 255, 255, 0.8)
    }
}
@media (max-width: 959px) {
    .mobile-toggle {
        color: #333;
        position: absolute;
        right: 20px;
        top: 14px;
        cursor: pointer;
        text-indent: -54px;
        font-size: 16px;
        line-height: 38px;
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        display: block;
        width: 36px;
        height: 36px
    }
    .mobile-toggle:hover {
        color: #999
    }
    .mobile-toggle span {
        position: absolute;
        top: 48%;
        left: 8px;
        display: block;
        width: 71%;
        height: 7.5%;
        background-color: #333;
        font-size: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    .mobile-toggle span:before,
    .mobile-toggle span:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        content: '';
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s
    }
    .mobile-toggle span:before {
        -webkit-transform: translateY(-300%);
        -moz-transform: translateY(-250%);
        -o-transform: translateY(-250%);
        -ms-transform: translateY(-250%);
        transform: translateY(-250%);
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s
    }
    .mobile-toggle span:after {
        -webkit-transform: translateY(300%);
        -moz-transform: translateY(250%);
        -o-transform: translateY(250%);
        -ms-transform: translateY(250%);
        transform: translateY(250%);
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s
    }
    .mobile-toggle:hover span,
    .mobile-toggle:hover span:before,
    .mobile-toggle:hover span:after {
        background: #999
    }
}
@media (min-width: 960px) {
    .mobile-toggle {
        display: none
    }
}
.mobile-toggle.open span {
    background-color: transparent
}
.mobile-toggle.open span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg)
}
.mobile-toggle.open span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg)
}
.nav-primary {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em
}
@media (max-width: 959px) {
    .nav-primary {
        display: none;
        height: 77vh;
        padding: 40px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1
    }
    .nav-primary li {
        padding-top: 3px;
        padding-bottom: 3px
    }
    .nav-primary a {
        display: inline-block
    }
}
@media (min-width: 960px) {
    .nav-primary {
        float: right
    }
    .nav-primary li {
        display: inline-block;
        margin-left: 20px
    }
    .nav-primary li:after {
        display: block;
        margin-left: auto;
        margin-right: auto;
        content: "";
        border-bottom: 3px solid transparent;
        text-align: center;
        width: auto;
    }
    .nav-primary li a {
        font-size: 14px;
        padding: 0 6px;
        color: #DADADA;
        text-align:left;
    }
    .nav-primary li a:focus {
        color: #7C2C2C
    }

    .nav-primary ul {
        display: none;
    }

    .nav-primary li:hover > ul {
        display: block;
    }

    .nav-primary ul:after {
        content: ""; clear: both; display: block;
    }
    .nav-primary ul li {
        display: inline;
        padding: 0px 15px;		
        max-width: 200px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        font-size: 16px;
        color: #7C2C2B;
    }
    .nav-primary ul li a {
        display: block;
        color: #DADADA; 
        text-decoration: none;
        margin-bottom: -20px;
    }

    .nav-primary ul {
        background: #7C2C2B;
        padding: 0;
        position: absolute;
        border: none;
        margin-top: 3px;
    }

    nav#nav-primary-wrapper ul ul li {
        float: none; 
        position: relative;
    }

    .nav-primary ul li a:hover {
        color: #D38F55;
		border-bottom: 1px solid #D38F55;
		width:auto;
    }
    .nav-primary li a:focus {
        color: #D38F55
    }
}
li.nav-logo-center {
    display: none
}
@media (min-width: 960px) {
    li.prime-main-link {
        margin-top: 50px
    }
    li.prime-main-link:hover:after {
        border-bottom: 3px solid #D38F55
    }
}
@media (min-width: 960px) {
    li.prime-quick-link {
        position: absolute;
        -webkit-transform: translateY(25px);
        transform: translateY(-83px);
        -ms-transform: translateY(25px);
        font-style: italic
    }
    /*    li.prime-quick-link:hover:after {
            border-bottom: 1px solid #7C2C2B;
            width: 35px
        }
        li.prime-quick-link a:hover {
            color: #7C2C2B
        }*/
}
@media (min-width: 960px) {
    .is-sticky .nav-primary {
        float: none;
        margin: 0 auto 0;
        text-align: center;
        height: 130px
    }
	.is-sticky .quick_nav{
        float: none;
        margin: 0 auto 0;
        text-align: center;
        height: 130px
    }
    .is-sticky .nav-primary li {
        margin-left: 8px;
        margin-right: 8px
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .nav-primary li a {
        font-size: 11px;
        padding: 0 0px;
    }

      .quick-link-contact {
        right: 275px !important;
    }

    .search .input { margin-right: 310px !important; }

    .lanuge { left:62% !important; }

    .logo_main { margin-right: 5%; }
}

@media (min-width: 960px) and (max-width: 1300px) {
    .is-sticky .nav-primary li {
        margin: 0;
    }

    .is-sticky .nav-primary li a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px
    }

    .is-sticky .nav-logo-center a {
        width: 200px !important;
        height: 130px !important;
    }

  
}

@media (min-width: 960px) {
    .is-sticky .nav-primary li.active-exp {
        margin-left: -37px
    }
	.is-sticky .quick_nav,
    .is-sticky .logo a,
    .is-sticky li.quick-link-news,
    .is-sticky li.quick-link-contact {
        display: none
    }
    .is-sticky ul li.nav-logo-center {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }
    .is-sticky .nav-logo-center a {
        display: block;
        width: 220px;
        height: 145px;
        background: url(../img/logo_ra.png) no-repeat 0 0;
        background-size: cover;
        background-color: #fff;
        text-indent: -999em
    }
    .is-sticky li.prime-main-link,
    .is-sticky li.prime-quick-link {
        margin-top: 40px
    }
    .is-sticky li.prime-quick-link {
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        font-style: normal
    }
}
@media (min-width: 960px) and (max-width: 1350px) {
    .quick-link-news {
        right: 235px
    }
    .quick-link-contact {
        right: 220px
    }
    .quick-link-inquire {
        right: 20px
    }
}
@media (min-width: 1351px) {
    .quick-link-news {
        right: 330px
    }
    .quick-link-contact {
        right: 215px
    }
    .quick-link-inquire {
        right: 0
    }
}
.page-node-68 .active-exp:after,
.node-type-experience .active-exp:after {
    border-bottom: 3px solid #D38F55
}
.page-node-23 .active-act:after,
.node-type-activities .active-act:after {
    border-bottom: 3px solid #D38F55
}
.node-type-accommodation-list,
.node-type-accommodation-detail .active-accom:after {
    border-bottom: 3px solid #D38F55
}
.page-node-56 .active-accom:after {
    border-bottom: 3px solid transparent
}
.page-node-56 .active-resort:after {
    border-bottom: 3px solid #D38F55
}
.page-node-117 .active-accom:after {
    border-bottom: 3px solid transparent
}
.page-node-75 .active-here:after {
    border-bottom: 3px solid #D38F55
}
/*.page-node-57 .quick-link-news:after,
.node-type-blog .quick-link-news:after {
    border-bottom: 1px solid #7C2C2B
}
.page-node-78 .quick-link-contact:after {
    border-bottom: 1px solid #7C2C2B
}
.page-node-84 .quick-link-inquire:after {
    border-bottom: 1px solid #7C2C2B
}*/
.social-sharing {
    margin-top: 20px
}
.social-sharing.btn {
    padding: 9px 6px 5px 14px
}
.social-sharing.btn:hover,
.social-sharing.btn:focus .social-sharing.btn:visited {
    cursor: default;
    background: #7C2C2B
}
.social-sharing .social-title {
    font-size: 18px;
    display: inline-block;
    transform: translateY(-4px);
    margin-right: 6px
}
.social-sharing ul {
    display: inline-block;
    margin: 0
}
.social-sharing li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px
}
form label {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    display: block
}
form label.option {
    font-size: 80%;
    text-transform: none
}
form .form-text,
form textarea {
    padding: 9px 11px 8px;
    font-size: 18px;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-weight: 300;
    color: #999;
    border: 1px solid #b2b1b1;
    transform: border 0.3s ease-in-out
}
form .form-text,
form textarea,
form .form-textarea-wrapper {
    width: 100%

}
@media (min-width: 768px) {
    form .form-text,
    form textarea,
    form .form-textarea-wrapper {
        width: 50%
    }
}
form .form-checkbox,
form .form-radio {
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 1em
}
form .webform-container-inline .form-checkbox,
form .webform-container-inline .form-radio {
    float: none;
    margin-left: 0;
    padding-top: 1px
}
form .webform-container-inline label {
    display: inline !important
}
form .form-item {
    margin-bottom: 1.5em
}
form .form-item label {
    display: block;
    margin-bottom: 0.25em
}
form .form-type-radio,
form .form-type-checkbox {
    margin-bottom: 0.5em
}
form .description {
    color: #333;
    font-weight: 300;
    font-size: 20px;
    margin-top: 24px
}
form button,
form input[type="button"],
form input[type="reset"],
form input[type="submit"],
form input[type="search"] {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #781F20;
    padding: 7px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: ease-in-out 0.2s
}
form button:hover,
form button:focus,
form input[type="button"]:hover,
form input[type="button"]:focus,
form input[type="reset"]:hover,
form input[type="reset"]:focus,
form input[type="submit"]:hover,
form input[type="submit"]:focus,
form input[type="search"]:hover,
form input[type="search"]:focus {
    cursor: pointer;
    background: #781F20;
    border: 1px solid #D38F55;
}
form input[type="search"] {
    background: #fff;
    color: #333;
    border: 2px solid #CCC;
    margin-bottom: 2em
}
form input[type="search"]:hover {
    background: #fff
}
form input:focus,
form textarea:focus,
form #edit-submitted-message:focus {
    outline-style: none;
    border: 1px solid #f8cd70
}
form span.form-required {
    color: #7C2C2B
}
form::-webkit-input-placeholder {
    color: #b2b1b1;
    text-transform: uppercase
}
form:-moz-placeholder {
    color: #b2b1b1;
    text-transform: uppercase
}
form::-moz-placeholder {
    color: #b2b1b1;
    text-transform: uppercase
}
form:-ms-input-placeholder {
    color: #b2b1b1;
    text-transform: uppercase
}
input[type="text"],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}
button[disabled],
input[disabled] {
    cursor: default
}
.form-item-mollom-captcha {
    max-width: 635px;
    margin: 20px auto
}
#booking-widget {
    position: relative;
    background: #ebebeb;
    padding: 48px 30px 35px;
    margin-bottom: 30px
}
@media (min-width: 600px) and (max-width: 999px) {
    #booking-widget {
        padding-left: 25%;
        padding-right: 25%;
        margin-bottom: 60px
    }
}
@media (max-width: 999px) {
    #booking-widget {
        margin-left: -20px;
        margin-right: -20px
    }
}
@media (min-width: 1000px) {
    #booking-widget {
        max-width: 398px;
        margin-top: 97px;
        margin-bottom: 80px
    }
}
#booking-widget .hdr-seven {
    line-height: 1em;
    color: #333;
    text-align: center;
    margin-bottom: 32px
}
#booking-widget .form-item-arrive-date label,
#booking-widget .form-item-arrive-date .description {
    display: none
}
#booking-widget .form-item-people,
#booking-widget .form-item-rooms {
    width: 48%;
    float: left
}
#booking-widget .form-item-people {
    margin-right: 2%
}
#booking-widget .form-item-rooms label {
    padding-left: 8px
}
#booking-widget .form-item {
    margin-bottom: 0
}
#booking-widget .form-text {
    margin-bottom: 24px
}
#booking-widget .form-text {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #fff;
    padding-top: 10px
}
#booking-widget .form-text:focus {
    border: 1px solid #bfbfbf
}
#booking-widget .form-text#edit-people,
#booking-widget .form-text#edit-rooms {
    margin-bottom: 40px
}
#booking-widget .form-text#edit-rooms {
    margin-left: 4%
}
#booking-widget form label {
    font-size: 15px;
    color: #404040
}
#booking-widget #edit-submit {
    position: relative;
    left: 50%;
    -webkit-tranform: translateX(-50%);
    transform: translateX(-50%)
}
#ui-datepicker-div {
    width: 227px;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 15px;
    color: #fff
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.5em 0;
    background: #7C2C2B
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.4em
}
.ui-datepicker .ui-datepicker-title span {
    color: #fff
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    margin-top: -5px
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 0.8em;
    color: #333
}
.ui-datepicker .ui-state-default {
    background: #ebebeb
}
.ui-datepicker .ui-state-active {
    background: #7C2C2B;
    color: #fff
}
.ui-datepicker .ui-state-highlight {
    background: #055C92
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    /*    border: 1px solid #7C2C2B*/
}
.ui-datepicker-calendar thead span {
    color: #7C2C2B
}
.ctacard-wrapper {
    width: 100%;
    margin: 0 auto
}
@media (max-width: 1350px) {
    .ctacard-wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media (min-width: 1351px) {
    .ctacard-wrapper {
        width: 1294px
    }
}
@media (min-width: 1000px) {
    .ctacard-wrapper {
        clear: both;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 110px
    }
}
.ctacard-card {
    background: #f2f2f2;
    overflow: hidden;
    position: relative
}
@media (max-width: 699px) {
    .ctacard-card {
        max-width: 400px;
        margin: 0 auto 30px
    }
}
@media (min-width: 700px) and (max-width: 999px) {
    .ctacard-card {
        float: left;
        width: 48%;
        margin: 0 1% 30px
    }
}
.ctacard-card .hdr-four {
    font-style: normal;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    text-align: left;
    font-size: 0.75em;
}
.ctacard-card .inner-ratio {
    position: relative;
    padding-bottom: 75%;
    height: 0
}
.ctacard-card .inner-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.ctacard-text {
    padding: 30px 30px 60px
}
.ctacard-text p {
    margin-bottom: 40px;
    font-size: 0.944em;
    line-height: 1.412em;
    text-align: justify;
}
@media (min-width: 600px) {
    .ctacard-text p {
        font-size: 0.7865em;
        line-height: 1.5em;
        font-family: lato;
        font-weight: 400;
    }
/*    .ctacard-text p::first-letter {
        font-family: 'edwardian_script_itcregular';
        font-size: 35px;
        font-weight: 700;
        padding: 5px;
    }*/
}
.ctacard-button {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin: 0 auto
}
@media (min-width: 1000px) {
    .ctacard-wrapper .ctacard-card {
        max-width: 400px;
        width: 30%;
        float: left;
		margin-top:30px;
		margin-bottom:30px;
    }
    .ctacard-wrapper .ctacard-card:nth-child(2) {
        margin-left: 5%;
        margin-right: 5%
    }
}
.sidebar .ctacard-card,
.ctacard-card:nth-of-type(3) {
    display: none
}
@media (min-width: 1000px) {
    .sidebar .ctacard-card,
    .ctacard-card:nth-of-type(3) {
        display: block
    }
}
.relaischateaux {
    background: #f2f2f2;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px
}
.relaischateaux p {
    margin: 0 auto;
    width: 80%
}
@media (min-width: 1200px) {
    .relaischateaux p {
        width: 50%
    }
}
@media (min-width: 1400px) {
    .relaischateaux p {
        width: 40%
    }
}
.relaischateaux img {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto
}
@media (min-width: 1100px) {
    .newsletter {
        padding-bottom: 60px;
        background: #f2f2f2;
        overflow: hidden
    }
}
.newsletter .highlight-background {
    background:  rgba(72, 9, 9, 0.8)
}
.newsletter-thumb {
    display: none
}
@media (min-width: 1100px) {
    .newsletter-thumb {
        display: block;
        width: 25%;
        float: left
    }
    .newsletter-thumb .inner-ratio {
        position: relative;
        padding-bottom: 100%;
        height: 0
    }
}
.newsletter-subscribe {
    text-align: center;
    position: relative;
    min-height: 280px
}
@media (max-width: 599px) {
    .newsletter-subscribe img {
        display: none
    }
}
@media (min-width: 1100px) {
    .newsletter-subscribe {
        width: 50%;
        float: left
    }
    .newsletter-subscribe .inner-ratio {
        position: relative;
        padding-bottom: 53%;
        height: 0
    }
}
.newsletter-subscribe .hdr-seven {
    color: #fff;
    margin-bottom: 9px
}
@media (min-width: 600px) {
    .newsletter-subscribe .hdr-seven {
        margin-bottom: 20px
    }
}
.newsletter-subscribe form {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 5%
}
@media (max-width: 599px) {
    .newsletter-subscribe form {
        top: 15%
    }
}
@media (min-width: 600px) {
    .newsletter-subscribe form {
        top: 25%
    }
}
.newsletter-subscribe input[type="submit"] {
    display: block;
    margin: 14px auto 0
}
.newsletter-subscribe input[type="text"],
.newsletter-subscribe input[type="email"] {
    background: #fff;
    padding: 6px 12px 4px;
    font-size: 16px;
    line-height: 1.8em;
    color: #999;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    letter-spacing: 0.04em;
    margin-bottom: 6px;
    border: none;
    margin-left: 0
}
@media (min-width: 1400px) {
    .newsletter-subscribe input[type="text"],
    .newsletter-subscribe input[type="email"] {
        width: 225px
    }
}
.newsletter-subscribe input[type="text"]:focus,
.newsletter-subscribe input[type="email"]:focus {
    background: #ebebeb
}
@media (min-width: 1100px) {
    .inner-ratio img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }
}
.testimonial {
    background: #f2f2f2;
    clear: both;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 32px
}
.testimonial.testimonial-darker {
    background: #33424f;
    color: #fff
}
@media (min-width: 600px) {
    .testimonial {
        padding-top: 70px;
        padding-bottom: 58px
    }
}
.testimonial blockquote {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}
@media (min-width: 1200px) {
    .testimonial blockquote {
        width: 70%
    }
}
@media (min-width: 1400px) {
    .testimonial blockquote {
        width: 60%
    }
}
#footer .testimonial {
    padding-top: 25px
}
.award-logos {
    clear: both;
    text-align: center;
    font-size: 0;
    line-height: normal
}
.award-logos img {
    width: 175px;
    height: 150px;
    margin-left: auto;
    margin-right: auto
}
@media (min-width: 600px) {
    .award-logos {
        padding-top: 25px;
        padding-bottom: 37px
    }
}
@media (min-width: 1100px) {
    .award-logos {
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%
    }
}
@media (min-width: 1100px) and (max-width: 1350px) {
    .award-logos {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media (min-width: 1100px) and (min-width: 1351px) {
    .award-logos {
        width: 1294px
    }
}
li.award-logo-thumb {
    display: inline-block;
    width: 100%
}
@media (min-width: 600px) {
    li.award-logo-thumb {
        width: 33.33333%
    }
}
@media (min-width: 1100px) {
    li.award-logo-thumb {
        width: 20%
    }
}
.nav-footer {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 0.667em;
    display: block
}
@media (max-width: 1099px) {
    .nav-footer li {
        display: block;
        text-align: center;
        padding-top: 13px;
        padding-bottom: 10px;
        border-bottom: 1px solid #4d4d4d
    }
}
@media (min-width: 1100px) {
    .nav-footer li {
        display: inline-block;
        margin-left: 43px
    }
    .nav-footer li:nth-child(1) {
        margin-left: 0
    }
}
.nav-footer li:after {
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: "";
    border-bottom: 1px solid transparent;
    text-align: center;
    width: auto;
}
.nav-footer li:hover:after {
    border-bottom: 1px solid #fff
}
.nav-footer a {
    color: #fff;
    padding: 0 4px;
	cursor:pointer;
}
.nav-footer a:focus {
    color: #999
}
@media (min-width: 1100px) and (max-width: 1399px) {
    .nav-footer {
        text-align: center
    }
    .nav-footer ul {
        padding-top: 24px
    }
}
@media (min-width: 1400px) {
    .nav-footer {
        width: 82.68934%;
        float: left;
        margin-right: 3.86399%
    }
    .nav-footer li {
        -webkit-transform: translateY(21px);
        transform: translateY(21px)
    }
}
.footer-social-media {
    text-align: right;
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
    margin-top: -20px;
}
.footer-social-media li {
    display: inline-block;
    margin-left: 3px;
    font-size: 25px;
}
.footer-social-media a{color: #fff;}

.facebook :hover {color: #3b5998;}
.gplus :hover {color: #dc4e41;}
.youtube :hover {color: #cd201f;}
.flickr :hover {color: #0063dc;}

.footer-social-media li {
    display: inline-block;
    margin-right: 15px
}
.footer-social-media li:nth-child(1) {
    margin-left: 0
}
@media (min-width: 1100px) and (max-width: 1399px) {
    .footer-social-media {
        padding-top: 0
    }
    .footer-social-media li {
        -webkit-transform: translateY(23px);
        transform: translateY(23px)
    }
}
@media (min-width: 1400px) {
    .footer-social-media {
        width: 13.44668%;
        float: right;
        margin-right: 0;
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
        padding-top: 0;
    }
}
.icon-twitter,
.icon-twitter-small,
.icon-instagram,
.icon-facebook,
.icon-facebook-small,
.icon-linkedin,
.icon-pinterest-small {
    display: block;
    transition: ease-in-out 0.2s
}
.copyright {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.571em;
    color: #fff;
    display: block;
    text-align: right
}
@media (max-width: 1099px) {
    .copyright {
        padding: 3px 20px 10px 0;
        background: #333
    }
}
@media (min-width: 1100px) and (max-width: 1399px) {
    .copyright {
        text-align: center;
        padding-bottom: 34px;
		padding-top: 45px;
    }
}
@media (min-width: 1400px) {
    .copyright {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        -webkit-transform: translateY(18px);
        transform: translateY(18px);
        margin-top:0px;
    }
}
.node--accommodation_detail #main .wrapper {
    padding-top: 80px
}
.amenities {
    margin-bottom: 30px;
    overflow: hidden
}
.amenities ul {
    margin-left: 20px
}
@media (min-width: 600px) {
    .amenities {
        margin-bottom: 54px
    }
}
@media (min-width: 600px) {
    .amenities ul {
        float: left;
        width: 45%
    }
    .amenities-list-two {
        padding-left: 20px
    }
}
.header-underline.hdr-three {
    padding-bottom: 17px;
    border-bottom: 2px solid #959595;
    margin-bottom: 37px
}
.ratestable-detail table tr {
    border-bottom: none
}
@media (min-width: 600px) {
    .ratestable-list {
        padding-left: 20px;
        padding-right: 20px
    }
}
.ratestable-list table {
    color: #fff;

    width: 100%;
    max-width: 1060px;
    margin: 0 auto 44px
}
.ratestable-list table th {
    vertical-align: middle;
    background: #959595;
    border-bottom: none;
    padding: 15px
}
.ratestable-list table tr {
    border-bottom: 1px solid #c9c9c9
}
.ratestable-list table tr:nth-child(odd) {
    background: #b3b3b3
}
.ratestable-list table tr:nth-child(even) {
    background: #bdbdbd
}
@media (min-width: 600px) {
    .ratestable-list table td:nth-child(1),
    .ratestable-list table th:nth-child(1) {
        padding-left: 20px
    }
}
.ratestable-button {
    margin-bottom: 80px;
    text-align: center
}
#node-74>aside {
    position: relative
}
#node-75 article {
    padding-bottom: 0
}
@media (max-width: 799px) {
    #node-75 .hide-small-map {
        display: none
    }
}
@media (max-width: 1149px) {
    #node-75 .hide-med-map {
        display: none
    }
}
@media (max-width: 1299px) {
    #node-75 .hide-large-map {
        display: none
    }
}
.gettinghere-wrapper {
    position: relative
}
.gettinghere-intro {
    overflow: hidden
}
.gettinghere-intro .keep-ratio {
    position: relative;
    padding-bottom: 52%;
    height: 0
}
.gettinghere-regional {
    overflow: hidden
}
.gettinghere-regional .keep-ratio {
    position: relative;
    padding-bottom: 53.3125%;
    height: 0
}
.regional-arrow.btn-arrow:hover:after,
#offerinquiry-btn.btn-arrow:hover:after,
#offerinquiry-btn.btn-arrow.reveal:after {
    border-width: 8.7px 5px 0 5px;
    border-color: #fff transparent transparent;
    margin-left: 8px
}
.gettinghere-global {
    overflow: hidden
}
.gettinghere-global .keep-ratio {
    position: relative;
    padding-bottom: 55.5625%;
    height: 0
}
.gettinghere-regional a.active,
.gettinghere-global a.active {
    color: #7C2C2B
}
.gettinghere-regional a:after.active,
.gettinghere-global a:after.active {
    color: #7C2C2B
}
@media (min-width: 800px) {
    .gettinghere-overlay img {
        opacity: 0;
        transition: opacity 200ms ease-in-out
    }
}
.gettinghere-overlay img.active {
    opacity: 1
}
.resortmap-arial {
    overflow: hidden;
    margin-bottom: 25px
}
@media (max-width: 767px) {
    .resortmap-arial {
        display: none
    }
}
.resortmap-arial .keep-ratio {
    position: relative;
    padding-bottom: 66.375%;
    height: 0
}
.resortmap-content {
    color: #fff;
    position: absolute;
    z-index: 1000;
    width: 90%;
    top: 5%;
    left: 5%;
    right: 5%
}
@media (min-width: 1500px) {
    .resortmap-content {
        width: 60%;
        left: 20%
    }
}
.resortmap-content .hdr-four {
    text-align: center
}
@media (max-width: 1299px) {
    .resortmap-content .hdr-four {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(242, 242, 242, 0.9)
    }
}
.resortmap-content .hdr-two {
    display: none;
    text-align: center
}
@media (min-width: 1300px) {
    .resortmap-content .hdr-two {
        display: block;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(242, 242, 242, 0.9)
    }
}
ul.resortmap-facilities {
    width: 100%
}
@media (min-width: 1500px) {
    ul.resortmap-facilities {
        float: left;
        width: 20%;
        margin-right: 6.666%
    }
    ul.resortmap-facilities.last-list {
        margin-right: 0
    }
}
ul.resortmap-facilities li a {
    color: #fff;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    text-transform: uppercase;
    float: left
}
@media (min-width: 1500px) {
    ul.resortmap-facilities li a {
        float: none
    }
    ul.resortmap-facilities li a:hover,
    ul.resortmap-facilities li a.active {
        font-style: italic
    }
}
@media (min-width: 768px) and (max-width: 1099px) {
    ul.resortmap-facilities li a {
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0;
        margin-right: 26px
    }
}
@media (min-width: 1100px) and (max-width: 1499px) {
    ul.resortmap-facilities li a {
        margin: 6px 14px 6px 0;
        padding: 5px 11px 4px;
        border: 1px solid white;
        border-radius: 3px
    }
    ul.resortmap-facilities li a:hover,
    ul.resortmap-facilities li a.active {
        border: 1px solid #7C2C2B;
        background: #7C2C2B
    }
}
.gettinghere-content {
    color: #fff;
    position: absolute;
    top: 59%;
    right: 0;
    left: 6%;
    width: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000
}
@media (min-width: 800px) {
    .gettinghere-content {
        top: 50%
    }
}
@media (max-width: 999px) {
    .gettinghere-content h1 {
        line-height: 1em
    }
}
@media (max-width: 1149px) {
    .gettinghere-content h1 {
        font-size: 1.190em;
        font-style: italic;
        font-family: "ITC Legacy Serif W01", "Georgia", serif
    }
}
@media (max-width: 999px) {
    .getting-here-canada {
        font-size: 12px
    }
}
.keep-ratio .hdr-one,
.keep-ratio .hdr-two {
    margin-bottom: 18px
}
.keep-ratio .hdr-one {
    width: 70%
}
.keep-ratio .hdr-two {
    font-style: italic
}
.keep-ratio p {
    margin-bottom: 33px;
    width: 72%
}
.keep-ratio a.btn-underline {
    font-size: 0.762em;
    margin-right: 40px;
    margin-bottom: 22px
}
.gettinghere-overlay img {
    position: absolute;
    top: 0;
    left: 0
}
@media (min-width: 1400px) {
    .gettinghere-global br {
        display: none
    }
}
.resortmap-pinpoints a {
    color: #fff;
    display: inline-block
}
.resortmap-pinpoints a:hover {
    color: #7C2C2B;
    cursor: pointer
}
.pinpoint {
    position: absolute;
    z-index: 1000;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 200ms ease-in-out
}
.pinpoint:before {
    content: "";
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border: 5px solid #7C2C2B
}
.pinpoint--south,
.pinpoint--north {
    position: absolute;
    z-index: 1000;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.667em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 200ms ease-in-out
}
.pinpoint--south:before {
    border-style: solid;
    border-width: 11px 8px 0 8px;
    border-color: #7C2C2B transparent transparent transparent;
    content: '';
    display: inline-block;
    height: 0;
    margin-right: 9px;
    width: 0
}
.pinpoint--north:before {
    border-style: solid;
    border-width: 0 8px 11px 8px;
    border-color: transparent transparent #7C2C2B transparent;
    content: '';
    display: inline-block;
    height: 0;
    margin-right: 9px;
    width: 0
}
.pinpoint.active,
.pinpoint--south.active,
.pinpoint--north.active {
    opacity: 1
}
#node-84 article {
    width: 100%;
    margin-left: 0
}
.hide-form-inputs {
    display: none
}
.form-progress {
    color: #7C2C2B;
    margin-right: 20px
}
@media (max-width: 479px) {
    .form-progress {
        margin-right: 10px
    }
}
@media (min-width: 768px) {
    .webform-client-form-84 .form-actions {
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: 30px
    }
}
.form-item.webform-component--activities label,
.form-item.webform-component--travel-preference label {
    display: none
}
#edit-submitted-rooms,
#edit-submitted-villas,
#edit-submitted-suites,
#edit-submitted-activities {
    display: none
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    transform: translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -ms-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.owl-carousel .owl-item {
    float: left
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer
}
.owl-controls {
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.grabbing {
    cursor: url(../img/grabbing.png) 8 8, move
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0)
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 5px 7px;
    opacity: 0.4;
    background: rgba(255, 255, 255, 0.4);
    transition: ease-in-out 0.2s
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1
}
.single-demo.owl-theme .owl-controls .owl-page span {
    background: #fff
}
.single-demo.owl-theme .owl-controls .owl-page.active span,
.single-demo.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    border: 1px solid #fff;
    background: #fff
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 30px
}
.owl-item.loading {
    min-height: 150px;
    background: url("../img/ajaxloader.gif") no-repeat center center
}
.owl-item img {
    margin-bottom: 0
}
.owl-item.node--page {
    padding-bottom: 0
}
#slidepanel .owl-item {
    overflow: hidden
}
.single-demo .item {
    position: relative
}
.single-demo-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 6px 20px;
    font-size: 16px;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-transform: uppercase
}
.owl-theme .owl-controls {
    text-align: center;
    height: 0
}
.owl-pagination {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
}
    .owl-pagination {
        display: none
    }
@media (max-width: 660px) {
    .owl-pagination {
        display: none
    }
}
#slidepanel .owl-buttons {
    position: absolute;
    top: 43%;
    width: 100%
}
#slidepanel .owl-buttons .owl-prev {
    position: absolute;
    left: 15px;
    background: url(../img/rght_arrow.png) no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px;
    transition: ease-in-out 0.2s;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
@media (max-width: 660px) {
    #slidepanel .owl-buttons .owl-prev {
        left: 0
    }
}
#slidepanel .owl-buttons .owl-prev:hover,
#slidepanel .owl-buttons .owl-prev:focus {
    background: url(../img/rght_arrow.png) no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px
}
#slidepanel .owl-buttons .owl-next {
    position: absolute;
    right: 12px;
    background: url(../img/rght_arrow.png) no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px;
    transition: ease-in-out 0.2s
}
@media (max-width: 660px) {
    #slidepanel .owl-buttons .owl-next {
        right: 0
    }
}
#slidepanel .owl-buttons .owl-next:hover,
#slidepanel .owl-buttons .owl-next:focus {
    background: url(../img/rght_arrow.png) no-repeat;
    background-size: 26px 50px;
    width: 26px;
    height: 50px
}
.owl-theme .inner-ratio {
    position: relative;
    padding-bottom: 56.25%;
    height: 0
}
.owl-theme .inner-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease
}
.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.lazy-hidden {
    opacity: 0
}
.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1
}
.messages {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 185px;
    max-width: 475px;
    color: #fff;
    background: #7C2C2B;
    display: inline-block;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 0.3em
}
.messages a {
    text-decoration: underline;
    color: #fff
}
.messages a:hover {
    color: #CCC
}
#toolbar {
    z-index: 5000
}
.container {
    width: 300px;
}
.hotel_booking_area {
    right: 10%;
    position: absolute;
    text-transform: uppercase;
    top: 37%;
    z-index: 200;
    border: 1px solid #7C2C2B;
}
.picker-container {
    display: none;
}
.hotel_booking {
    background: #313a45 none repeat scroll 0 0;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    min-height: 94px;
    padding: 13px 10px;
    position: relative;
}
.room_book {
    /*border-right: 1px solid #475362;*/
    margin-right: 7%;
}
.room_book h6 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    text-align: center;
}
.room_book p {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
}
form#form1 .form-group {
    margin: 0;
}
.book {
    border-radius: 4px;
    border: 1px solid #7C2C2B;
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-weight: 700;
    font-size: 0.667em;
    letter-spacing: 0.08em;
    color: #fff;
    background: #7C2C2B;
    padding: 11px 13.33333px 9px;
    text-transform: uppercase;
    display: inline-block;
    margin: 12px 0 0 78px;
    cursor: pointer;
}
.three_cs {
    font-family: 'lane_-_narrowregular', Arial, sans-serif;
    font-size: 0.571em;
    color: #09F;
    display: block;
    text-align: left;
    margin-top: -20px;
    position: absolute;
    margin-left: 16.212%;
}
.three_cs a{color: #09F;cursor:pointer;}

/* start booking_room */
.online_reservation{
    z-index: 999;
}
.b_room{
    display: inline-flex;
    box-shadow: 0px 0px 4px rgb(97, 97, 97);
    -webkit-box-shadow: 0px 0px 4px rgb(97, 97, 97);
    -moz-box-shadow: 0px 0px 4px rgb(97, 97, 97);
    -o-box-shadow: 0px 0px 4px rgb(97, 97, 97);
    width: 13%;
    position:absolute;
}
.booking_room {
    width: 100%;
    position:absolute;
    top: 4.5em;
    left: 121%;
    z-index:1;
}
.booking_room h4{
    font-size: 1.5em;
    color: #202020;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}
.booking_room p{
    font-size: 0.8725em;
    color: #6b6b6b;
    line-height: 1.8em;
}
.reservation{
    padding:13px 0px;
    float: left;
    width:100%;
    background:  rgba(72, 9, 9, 0.8);
}
.reservation ul li{
    float: left;
    list-style:none;
}
.reservation ul li.left{
    margin-left: 15px;
}
.reservation ul li.span1_of_1{
    width: 83.33333%;
    margin-left: 1em;
}
.reservation ul li.span1_of_2{
    width: 9.33333%;
}
.reservation ul li.span1_of_3{
    width: 92.33333%;
    margin-left: 20px;
}
.reservation h5{
    font-size: 17px;
    color: #96292B;
    background-color: #FFF;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: -webkit-center;
    font-weight: 600;
}
.reservation h6{
    font-size: 12px;
    color:#FFF;
    text-transform: capitalize;
    margin: 4px 0px 8px 0px;
}
select {
    width: 100%;
    color: #858585;
    font-size: 12px;
    padding: 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    border: 1px solid #DFDFDF;
}
select option{
    border: 1px solid #DFDFDF;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
    width: 100% !important;
    color: #858585;
    font-size: 12px;
    padding: 8px 30px;
    outline: none;
    border: 1px solid #DFDFDF;
    box-shadow: inset 0 0 2px rgb(236, 236, 236);
    -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
    -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
    -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
    -webkit-appearance: none;
    margin-bottom: 8px;
}
.date{
    background:url(../img/icon.png) no-repeat 3% 50% #FFF;
}
.date_btn{
    margin:22px 0 0 0px;
}
.book_now input[type="submit"] {
    width: 38% !important;
    background: #7C2C2B;
    color: #FFF;
    padding: 7px;
    border: none;
    border-radius: 0px;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 0px;
    position: absolute;
    margin: 6% 0% 0% -21%;
}
.date_btn form input[type="submit"]:hover{
    background: #781F20;
    border: 1px solid #D38F55;
}
#promo{
    width: 55%;
    color: #858585;
    padding: 6px 6px;
    border: 1px solid #DFDFDF;
    font-size: 12px;
    letter-spacing: 0px;
    margin: 15px 0px 0px 23px;
}
.nationality{
    font-size: 12px;
    color: #FFF;
    margin: 12px 0px 0px 0px;
    text-transform: uppercase;
}
video 
{
    width: 100%;
    height: auto;
    position:relative;
}
.ctatext-text li {
    list-style-image: url(../../assets/img/bullet.png);
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    margin-left: auto;
    width: 80%;
}

.accom-list {
    width: 50%;
    height: auto;
    float: left;
    display: block;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}
.honey-list {
    width: 109%;
    height: auto;
    float: left;
    display: block;
    margin: 0 0 0 0;
    margin-left: -18%;
    padding: 20px;
    list-style: none;
}
.wed-list {
    width: 109%;
    height: auto;
    float: left;
    display: block;
    margin: 0 0 0 0;
    margin-left: -18%;
    padding: 0;
    list-style: none;
}
.wed-d{
    font-size: 13px;
    text-align: left;
}

.highlight-background-static {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  rgba(72, 9, 9, 0.8);
}
#googleMap{width:100%;height:500px; position:relative;top:150px;}
.add_freud {
    position: relative;
    font-size: 15px;
    top: 120px;
    float: left;
    left: 0px;
}
.add_rand {
    position: relative;
    font-size: 15px;
    top: 120px;
    left: 200px;
}
#contact_box {
    float: right;
    margin-top: -54px;
    position: relative;
}
.qr_main {
    float: right;
    height: 55px;
    width: 70px;
    margin-right: 115px;
}
.qr_pic {
    float: right;
    height: 135px;
    width: 135px;
    border: 1px solid;
}
.qr_cnt {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #D26E19;
    float: right;
    width: 96px;
}
.priv-poly {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom:20px;
    padding: 0;
    list-style: disc;
}
.priv-poly li{
    width:96%;
}
.honey-bg-cover{
	background:url(assets/img/honey-bg.png); 
	height:632px;
}
.honey-bg{
	background-color:rgba(76, 7, 25, 0.92); 
	width:925px; 
	height:632px; 
	margin:auto;
	border: solid 3px;
	border-radius: 65px; 
	padding-top: 27px !important; 
	color: #999;
}
.honey-heart{
    position: absolute;
    width: 23%;
    margin: auto;
    right: 27%;
}

#route {
    padding: 5px;
    font-size: 10pt;
    color: #484848;
    margin-left: 26.2%;
}
#route li {
    list-style: none;
    display: inline-block;
}
#route li a{text-decoration:none;}

/* tripadvisor */

#nt-example1 {
    max-width: 100%;
    margin: auto;
}

#nt-example1-container {
    text-align: center;
}

#nt-example1-container i {
    font-size: 36px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nt-example1-container i:hover {
    color: #333;
}

#nt-example1 li {
    color: #484848;
    overflow: hidden;
    height: 100px;
    width: auto;
    padding: 10px;
    line-height: 30px;
    list-style: none;
    font-size: 20px;
    text-align: left;
    margin-left: 17px;
    font-family:"ITC Legacy Serif W01", "Georgia", serif;
}

/*#nt-example1 li:hover {
        background: #FFF;
}
*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#bar{
    width: 0%;
    max-width: 100%;
    height: 4px;
    background: #96292b;
}
#progressBar{
    width: 100%;
    background: #EDEDED;
}

#bttm_bottom {
    float: left;
    height: 475px;
    width: 1232px;
    position: relative;
    background-image: url('assets/img/banner_back.jpg');
    background-repeat: repeat;
    background-position: 5%;
}
.quick_nav{
    background-color: #fff;
    width: 147.5%;
    height: 45px;
    position: absolute;
    margin-left: -24%;
}
.lanuge {
    float: right;
    height: 34px;
    width: 145px;
    position: absolute;
    left: 69%;
    top: 4px;
    overflow: hidden;
}
.goog-te-gadget .goog-te-combo{
	margin:3px 0 !important;
}
.search .input {
    float: right;
    width: 38%;
    background-color: rgba(0, 0, 0, 0.47);
    border: none;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'pt_sansregular', Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 9px;
    margin-top: 89px;
    margin-right: 395px;
    position: relative;
}
.search .submit {
    width: 40%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0px;
    position: absolute;
    margin-top: 98px;
}
.nav-cont-no{    
	font-size: 13px;
    margin-right: 24%;
    z-index: 1;
    top: 97px;
    float: left;
    position: absolute;
	font-style: oblique;
	text-transform: initial;
}
#scroll-down {
    width: 50px;
    height: 50px;
    margin: auto;
	margin-bottom: -50px;
    border-radius: 50%;
    border: #fff 1px solid;
    top: -100px;
    text-align: center;
    display: none;
    z-index: 500;
    position: relative;
}
/*nivo-slider*/

.slider-wrapper { 
	width: 80%; 
	margin: 30px auto;
}

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../img/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../img/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../img/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/****image-hover-effect****/
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 1em;
	max-width: 1100px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure, .grid1 figure, .grid2 figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	/*max-width: 525px;*/
	max-height: 350px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img, .grid1 figure img, .grid2 figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption, .grid1 figure figcaption, .grid2 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after,
.grid1 figure figcaption::before,
.grid1 figure figcaption::after,
.grid2 figure figcaption::before,
.grid2 figure figcaption::after   {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a,
.grid1 figure figcaption,
.grid1 figure figcaption > a,
.grid2 figure figcaption,
.grid2 figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a, .grid1 figure figcaption > a, .grid2 figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2, .grid1 figure h2, .grid2 figure h2 {
	font-weight: 300;
	font-family: 'Raleway', Arial, sans-serif;
	text-transform:uppercase;
	font-size:0.853em;
}

.grid figure h2 span, .grid1 figure h2 span, .grid2 figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p,
.grid1 figure h2,
.grid1 figure p,
.grid2 figure h2,
.grid2 figure p  {
	margin: 0;
}

.grid figure p, .grid1 figure p, .grid2 figure p {
	letter-spacing: 1px;
	font-size: 48%;
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
	background-color: rgba(51,66,79,0.33);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 250px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*Contact Us form*/

.webform-component-errors{
    color: red;
    margin-bottom: 25px;
}

.webform-component-errors li{
    margin-left: 20px;
}

.webform-component-errors li:first-child{
    margin-top: 5px;
}

.webform-component-success{
    color: green;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 25px;
}
.caption{
	position:absolute; 
	left:50px; 
	top: 600px; 
	width:400px; 
	height:40px; 
	float: right;
}
.hdr-seven-ect {
    text-align: left;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: #7D2C2C;
    padding: 5px;
}
/*.logo_main a:hover img,
.logo_main a:focus img {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
}*/
/*.logo_main img {
-webkit-transition: all .2s;
-webkit-transform-origin: top;
-moz-transform-origin: top;
}*/
.logo_main a:focus { 
	z-index: 2;
}

.trip-advisor-logo { position: relative; z-index: 9999; width: 100%; height: 100%; }

.trip-ad {
    width: 150px;
    height: auto;
    position: fixed;
    float: right;
    display: block;
    right: 0;
    bottom: 50px;
}